<div class="container pt-5">
	<div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal">
            <!-- Name input-->
            <div class="form-group row">
              <label class="col-md-3 control-label">Enter X Value</label>
              <div class="col-md-9">
                <input name="inputX" type="text" [(ngModel)]="inputX" placeholder="Input X value" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group row">
              <label class="col-md-3 control-label">Enter Y Value</label>
              <div class="col-md-9">
                <input name="inputY" type="text" [(ngModel)]="inputY" placeholder="Input Y value" class="form-control">
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="button" (click)="createBoxModel()" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
  
  <div id="contentInside" *ngFor="let container of containers" [ngStyle]="{'width':inputY, 'height':'17px'}"></div>
</div><!-- container end here -->
